.container {
    font-family: "Roboto Mono", monospace;
    background-color: black;
    color: white;
    width: 600px;
    height: 400px;
    margin: 100px auto;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-input {
    font-family: "Roboto Mono", monospace;
    width: 250px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

.authorize {
    font-family: "Roboto Mono", monospace;
    margin-top: 50px;
    height: 50px;
}

.authorize a {
    color: #dbfd01;
}

.sign-header {
    font-size: 30px;
}

#sign-button {
    border: 0;
    font-family: "Roboto Mono", monospace;
    color: black;
    background: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    transition: 300ms;
}

#sign-button:hover {
    background-color: gray;
}

.to-main {
    text-align: center;
}

.to-main a {
    font-weight: bolder;
    color: #dbfd01;
    font-family: "Roboto Mono", monospace;
}